html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}

body{
    background-color:#f1f3f6;
    overflow: auto;
}

a{ text-decoration: none;}

a:hover{ text-decoration: none;}

li{ list-style: none;}

h2{
    font-family: 'Poppins', sans-serif;
}


p{
    font-size: 1.3rem;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}

/*navbar start*/

.navbar-brand{
    color:rgb(255, 255, 255)!important;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500;
    margin-right: 2rem;
    margin-left: 2rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    padding: 0rem 0rem;
    transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1) 0s;
}
.nav-item a{
    color:rgb(255, 255, 255)!important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    
}
.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 2.9;
    z-index: -1;
    background: linear-gradient(to right ,#15c9f6 0% ,#15c9f6 0% , #15c9f6 100%);
}
.input-group-append input {
    color: black;
}
.input-group-append span {
    background-color: white;
}
.main-nav{
    display: none;
}

.main-nav a {
    color: white;
    font-size: 20px;
    padding: 5px;
}
.img-1{
    font-size: 30px;
}
.search{
    margin-bottom: 0!important;
    color: black;
}
.search1{
    color: #15c9f6;
    background: white;
    font-size: 20px;
    border-left: 0px solid;
}

.search1:hover{
    color: #15c9f6!important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
     border-color: transparent!important; 
    outline: 0;
     box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%); 
}


/*auto complete start*/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }

  .autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 98%;
    left: 0;
    right: 0;
  }
  input[type=text] {
      background-color: #fff;
      width: 100%;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #f7f7f7;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  
/*auto complete end*/

.can1 svg{
    position: absolute;
    right: 40px;
    top: 3px;
    background-color: #fFFF!important;
}

.can1{
    z-index: 6;
    display: none;
    fill: currentColor;  
    color: #7a78789f!important;
}
.can1.open{
    display:block!important;
}
.comment-2{
    border-right: 0px solid;
}

/*burger start*/
.burger{
    display: none;
    cursor: pointer;
    right: 5%;
    top:15px;
}

.line{  
    width: 30px;
    background-color: white;
    height: 2px;
    margin: 4px 4px;
}

.burger-1{
    display: none!important;
    cursor: pointer;
    right: 5%;
    top:15px;
    margin: 8px 5px;
}

.line-1{  
    width: 30px;
    background-color: white;
    height: 2px;
    margin: 4px 4px;
}

.main-nav-1{
    display: none!important;
}

.main-nav-1 i{
    font-size: 22px;
    margin: 8px 8px;
    color: white;
}
/*burger end*/

.login a{
    font-size: 20px;
}
.nav-item {
    color: black;
}
.drop1 {
    margin-left: 10px!important;
   
}
.drop1 a{
    display: flex!important;
}
.drop1 a::after{
    margin: auto;
    margin-left: 10px;
}
.drop1 a{
    font-size: 20px;
}

.dropdown-menu p{
    font-size: 15px;
    color: black!important;
    font-family: 'Poppins', sans-serif;
}
.dropdown-menu p span{
    margin-left: 30px;
    color: blue!important;
}
.drop1 i{
    margin-right: 30px;
    color: #15c9f6;
    font-size: 20px;
    
}
.dropdown-menu{
    border: 0px solid rgba(0,0,0,.15)!important;

}
.dropdown-menu::after{
    background-color: #fff;
    position:absolute;
    width:20px;
    height: 20px;
    top: -5%;
    left: 25%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    
}

.d1 a{
    margin: 7px 10px;
    color: #15c9f6!important;
    font-weight: 550;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 3px 20px;
    border: 1px solid #dbdbdb;
    font-size: 18px;
}
.d2 a{
    font-size: 18px;
    margin: 10px 10px;
}

.s11{
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    margin: auto;
    margin-left: 8px;
}
.s11.s111{
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
    
}

.s-1.shoow{
    display: block!important;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}
.s-2.shoow{
    display: block!important;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}


.l-navbar{
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1) 0s;
    transform: translate3d(-102%,0,0);
    width: 80%;
    height: 100vh;
    background: white;
    left: 0%;
    position: fixed;
    top: 0%;
    z-index: 1200000000;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    overflow: auto;
    white-space: nowrap;
}
    
.nav-item2{
    font-size: 20px;
    background: linear-gradient(to right ,#15c9f6 0% ,#15c9f6 0% , #15c9f6 100%);
}
  
.nav-item2 p {
    margin-top: 0!important;
    margin-bottom: 0!important; 
    padding: 13px 20px;

}

.nav-item1 p{
    margin-top: 0!important;
    margin-bottom: 0!important; 
    padding: 10px 20px;
}
.nav-item2 i{
    background: #15c9f6;
    
}

.l-navbar i{
    margin-right: 30px;
    color: #15c9f6;
    font-size: 20px;
    
}

.user_image{
    width: 30px;
    border-radius: 20px;
    background: white;
    margin-right: 20px;
}

.hr1{
    margin-left: 8%;
}

.hr1 hr{
    width: 90%;
}
.menu-btn_burger::before,.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 3.3px;
    background: #fff;
    transition: all .5s ease-in-out;
    
}
.menu-btn_burger{
    display: none;
    position: absolute;
    /*top: 131%;*/
    top: 25%;
    right: 18%;
    /*margin-right: 35px;*/
    /* right: 121%; */
    /* left: 118%; */
    z-index: 1222;
    cursor: pointer;
}
.menu-btn_burger::before{
    transform: translateY(-16px);

}
.menu-btn_burger::after{
    transform: translateY(16px);
    
}
.menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);

}

.menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px,35px);
    
}


.menu-btn{
    display: none!important;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    border: none;
    color: #fff;
    background-color:rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 18px;
    cursor: pointer; 
}

/*navbar end*/


/*link slider start*/
.slide1{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    margin-top: 52px;
}
.scrollmenu {
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    display: flex; 
}
/*
::-webkit-scrollbar{
    width: 5px;
    border-radius: 50px;
}

::-webkit-scrollbar-track{
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    background-color: #634a4a;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #15c9f6;
    border-radius: 50px;
}
*/

.scrollmenu a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
  

.new1{
    text-align: center;
    padding: 0px 30px;/*27*/

}
.new1:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.new1 i{
    color:  #15c9f6;
    padding: 0px!important;
    padding: .0rem 0rem!important;
    font-size: 15px;
}
.new1 a{
    padding: 0px!important;
    padding: .0rem 0rem!important;
}
.new1 h2{
    margin: 10px 0px;
    font-size: 17px;
}
.l-scroll{
    padding-top: 10px;
    width: 65px;
}
/*link slider end*/
/*
.carousel-item{
    
}*/
.carousel-indicators {
    position: absolute;
    right: 0;
    cursor: pointer;
}


.carousel-indicators .active {
    background-color:#02ccff!important;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color:#89def3;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -10px!important;
}

.c{
    width: auto!important;
}
.fa-angle-left:before {
    font-size: 70px;
    color: rgb(0, 204, 255)!important;
    background-color: white!important;
    padding-left: 5px;
    padding-right: 8px;
}
.fa-angle-right:before {
    font-size: 70px;
    color: rgb(0, 204, 255)!important;
    background-color: white!important;
    padding-left: 8px;
    padding-right: 5px;
}
    

.image-1{
    height: 280px;
    width: 100%;
}
.carousel-1{
    margin: 8px;
}

/*scroll top btn start*/
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background-color: #16c9f6;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
#myBtn:hover{
    background: #4eb9d4;
    
}

/*scroll top btn end*/


/*services start*/
.btn-left{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    display: none;
    position: absolute;
    left: 0px;
    z-index: 6;
    margin-top: 45px;
}
.btn-right{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    display: none;
    position: absolute;
    z-index: 6;
    margin-top: 45px;
    right: 0;
}



.header-extradiv{
    width: 100% ; height: auto;
    margin: 20px 0;
    text-align: center;
}

.extra-div {
    background: #fff;
    border: medium none;
    padding: 20px;
    border-radius: 3px;
    margin: 0px 0px;
    transition: 0.3s;
}

.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translate(-20px);
}

.d-1{
    text-align: center;
    padding: 15px 10px;
    width: 400px;
    border: solid black 2px;
    border-radius: 10px;
    
}
.d-1 h2{
    font-size: 1.3rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 0.9;
    word-spacing: 4px;
}
.extra-div h2{
    font-size: 1.7rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    
}
.extra-div p{
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}
.image-main-1{
    width: 60px;
    margin-top: 15px;
}
.image-main-2{
    width: 60px;
    margin-top: 15px;
}
.image-main-3{
    width: 60px;
    margin-top: 15px;
}
/*services end*/

.money{
    font-size: 15px;
    line-height: 1;
    color: black;
}

.off{
    font-size: 15px;
    color:#26d02e;
}

.strike{
    font-size: 15px;
    color:rgb(92, 92, 92);
}





/*card section start */
.show_1{
    margin-top: 5px;
}
.containe{   
    display: flex;
}
.col-12 {
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.cardmain{
    text-align: center;
}
.card{
    display: block;
    margin: 5px 2px;
    background-color: #fffdfd;
    border: 1px solid rgb(241 243 246);
}
.card-body {
    padding: 10px 0px;
}
.image-main{
    width: 60px;
    margin-top: 15px;
}
.cont-2{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.cont-2 img{
    height: 175px;
    width: 100%;
}

.card-title {
    margin-bottom: 0rem;
    font-size: 1.3rem;
}
p{
    margin-bottom: 0rem;
}
/*card section end*/


/*deals of the day start*/
.bg1-1{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    background: linear-gradient(rgb(153, 227, 242), rgb(153, 227, 242));
}
.clock{
    padding: 2px 5px;
}
.t-1{
    font-size: 30px;
}
.b-1{
    background-color: #00abff;
    color: white;
    padding: 2px 10px;
    font-size: 18px;
}
.b-1:hover{
    background-color: #001aff;
    color: white;
}
.w-1{
    margin-top: 10px;
}

.w2{
    display: grid;
    margin-top: 10px;
}
.w3{
    margin-bottom: 60px;
}
.w3-left {
    color: black;
    float: left!important;
}

.w3-right {
    float: right!important;
}
.w--1{
    margin-bottom: 5px;
}
.cont{
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    /*margin: 0px 80px;*/
}

.main-div-2{
    display: flex;
}
.main-div-3{
    display: flex;
}

.image-m{
    width: 130px;
}

.main-div-1{
    background: white;
    border: solid #f1f3f6;
    border-radius: 15px 15px 15px 15px
}

/*box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
    #f1f3f6; BACKGROUND
*/
/*deals of the day end*/


.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.3s;
    /*position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;*/
}

.slide-img{
    position: relative;
}

.detail-box{
    text-align: center;
}
/*
.overlay{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92,95,236,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
    color: #fff;
    background-color: #00abff;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}

.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}


@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.df{
    display: flex;
    margin: 10px 0px;
}
*/


/* product slider start*/
.z-1{
    margin-bottom: 40px;
}
.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%); }
.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%); 
}
.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
.carousel-multi-item.v-2.product-carousel *, .carousel-multi-item.v-2.product-carousel ::after, .carousel-multi-item.v-2.product-carousel ::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
 
.my-3{
    text-align: end;
}
.carousel-multi-item .controls-top .btn-floating {
  background: #2dcff7;
}

.btn-floating i::before{
    color: white!important;
    font-size: 30px;
    background: #2dcff7!important;
}

.btn-sm{
    font-size: 25px;
    line-height: 0;
    border-radius: .2rem;
}
  
.carousel-multi-item .carousel-indicators li {
  height: 1px;
  width: 20px;
  max-width: .80rem;
  border: solid #5cc6c3;
  border-radius: 5px;
  background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators .active {
  height: 3px;
  width: 20px;
  max-width: 1rem;
  background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators {
  margin-bottom: -1rem;
}


.overlay1{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 94%;
    background-color: rgba(92,95,236,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.h-btn{
    position: absolute;
    top: 15px;
    right: 15px;
}

.h-btn a{
    color: white;
    font-size: 20px;
}

.h-btn a:hover{
    color: red;
}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.buy-btn:hover{
    color: #fff;
    background-color: #00abff;
    transition: all ease 0.3s;
}

.overlay1{
    visibility: hidden;
}

.overlay:hover .overlay1{
    visibility: visible;
    animation: fade 0.5s;
}


@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
/* product slider end*/

/* product show start 2*/
.containe2{
    display: flex;
}
.btn2-left{
    display: none;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    position: absolute;
    left: 0px;
    z-index: 6;
    margin-top: 45px;
}
.btn2-right{
    display: none;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    position: absolute;
    z-index: 6;
    margin-top: 45px;
    right: 0;
}
/* product show end 2*/


/*
    background: linear-gradient(rgb(153, 227, 242), rgb(153, 227, 242));
*/

/*tranding section strat*/
.bg1-2{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    background: linear-gradient(rgb(99, 234, 211), rgb(99, 234, 211));
}
/*tranding section end*/


.nww-1{
    margin-top: 10px;
}

.bg1-3{
    background: linear-gradient(rgb(181, 228, 209) , rgb(99, 234, 211) 92%);
}

/*
    open transform: translate3d(0px, 0px, 0px);
    
    close     /* transform: translate3d(-102%,0,0);
will-change: transform;
    will-change: transform;
    transition: transform .25s ease-out;
*/



/*

hide scroll bar but not functionality 

.example{
    overflow-y:scroll;
}
.example ::-webkit-scrollbar{
    display:none;
}

.example{
    -ms-overflow-style:none;

    scrollbar-width:none;

}




    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s,-webkit-transform .1s;
    margin: 7px 0 0 8px;

    450dg
*/
